/*----------------------OLAP Definition------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*------------------------------------- Rotator -------------------------------------------*/

.e-rotator-wrap .e-in-wrap .e-single,
.e-rotator-wrap .e-thumb .e-thumb-items li,
.e-rotator-wrap .e-in-wrap.e-multiple {
  border-color: #bbbcbb;
}
.e-rotator-wrap .e-thumb .e-thumb-items li:hover {
  border-color: #52abc4;
}
.e-rotator-wrap .e-thumb .e-thumb-items li.e-active {
  border-color: #52abc4;
}
.e-rotator-wrap .e-thumb .e-thumb-items li.e-thumbhover {
  border-color: #52abc4;
}
.e-rotator-wrap .e-inner .e-caption {
  background-color: white;
  color: #5c5c5c;
}
.e-rotator-wrap .e-pager-wrap .e-bullet > li:hover {
  border-color: #52abc4;
  background-color: #68c3de;
}
.e-rotator-wrap .e-pager-wrap .e-bullet > li.e-active {
  border-color: #52abc4;
  background-color: #3c92a9;
}
.e-rotator-wrap .e-pager-wrap .e-bullet > li {
  background-color: #fbfbfb;
  border-color: #bbbcbb;
}
