/*----------------------OLAP Definition------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
.e-progressbar {
  background-color: #050505;
  border-color: #303030;
  color: #aaaaaa;
}
.e-progressbar .e-progress {
  background: #f3b13f;
  /* Old browsers */

}
