/*----------------------OLAP Definition------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*------------------------------------- ToolBar -------------------------------------------*/

.e-toolbar {
  font-family: Segoe UI;
  font-weight: normal;
  font-size: 14px;
}
.e-toolbar.e-focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.e-toolbar .e-horizontal.e-separator,
.e-toolbar .e-horizontal .e-separator {
  border-right: 1px solid #bbbcbb;
  border-left: none;
}
.e-toolbar .e-vertical.e-separator,
.e-toolbar .e-vertical .e-separator {
  border-bottom: 1px solid #bbbcbb;
  border-top: none;
}
.e-toolbar.e-rtl .e-horizontal.e-separator,
.e-toolbar.e-rtl .e-horizontal .e-separator {
  border-left: 1px solid #bbbcbb;
  border-right: none;
}
.e-toolbar.e-rtl .e-vertical.e-separator,
.e-toolbar.e-rtl .e-vertical .e-separator {
  border-top: 1px solid #bbbcbb;
  border-bottom: none;
}
/*(~"@{skin}.e-toolbar"), (~"@{skin}.e-toolbar .e-vertical")
{
    color: @content-font-color;
	.default-gradient();
	background-repeat:no-repeat;
}*/

.e-toolbar {
  color: #5c5c5c;
  background: #dddddd;
  /* Old browsers */

  background-repeat: no-repeat;
  border-color: #bbbcbb;
}
.e-toolbar .e-horizontal .e-hover,
.e-toolbar .e-vertical .e-hover {
  background: #91aa29;
  /* Old browsers */

  border-color: #91aa29;
  color: white;
}
.e-toolbar .e-horizontal .e-active,
.e-toolbar .e-vertical .e-active {
  background: #a9ca44;
  /* Old browsers */

  border-color: #a9ca44;
  color: white;
}
